<!DOCTYPE html>
<html>
<head>
<link type="text/css" rel="stylesheet" href="style.css">


<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Menu - Sidr Example</title>
    <!-- Include Sidr bundled CSS theme -->
    <link rel="stylesheet" href="../dist/stylesheets/jquery.sidr.dark.css">
    <!-- Your CSS -->
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="/assets/javascripts/jquery.sidr.js"></script>
    <script type="text/javascript" src="/assets/javascripts/newapplication.js"></script>
    <script type="text/javascript" src="/assets/javascripts/application.js"></script>

</head>
<body>
        
<div class="aboutpic">
    <br>
    <br>
    <img id= "simple-menu" src="https://photos-4.dropbox.com/t/2/AABH_kDcdQqtYgc1DV_htNMMF-bkvB_9GrpoEV1VYx0FhA/12/61905955/png/32x32/1/_/1/2/rsz_1rsz_imagelayer.png/EJTjv4EFGEAgBygH/4_nTVG345myivTIkGy0-biXYeTVIFDtN62Uz7o-z3A0?size=2048x1536&size_mode=3">


<div id="sidr">
      <ul>
          <li><%= link_to 'Home', "/"%> <img alt="close" class="icon-close" src = " <%= image_url('close-white.svg') %> " width="24px"></li>
          <li><a href="#">About</a></li>
          <li><%= link_to 'Contact', controller: 'signups', action: 'new' %></li>
      </ul>
          
</div>
    <br>
    <br>
    <br>
    <br>
    <h1 class="aboutheading"> Relive your favorite memories </h1>
  
    

</div>

<br>
<br>
	
  <div class="aboutsupportingsec">
    <h2 class="aboutsubhline"> No more sorting through photos </h2>
    <h4 class="aboutsubtline"> Stories automatically finds your best photos and creates a new travelogue. This way you can capture and share your special moments in fresh new ways.</h4>
    <br>
    <br>
    <br>

    <div class="aboutbtnbot">
       <p> <%= link_to 'Sign Up', controller: 'signups', action: 'new' %> </p>
    </div>
    <br>
    <br>
    <br>
  </div>


  
</body>

</html>