<!DOCTYPE html>
<html>
<head>
<link type="text/css" rel="stylesheet" href="style.css">


<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Menu - Sidr Example</title>
    <!-- Include Sidr bundled CSS theme -->
    <link rel="stylesheet" href="../dist/stylesheets/jquery.sidr.dark.css">
    <!-- Your CSS -->
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="/assets/javascripts/jquery.sidr.js"></script>
    <script type="text/javascript" src="/assets/javascripts/newapplication.js"></script>
    <script type="text/javascript" src="/assets/javascripts/application.js"></script>

</head>
<body>
        
<div class="mainpic">
    <br>
    <br>
    <img id= "simple-menu" src="https://www.dropbox.com/pri/get/mywebpage/menu.gif?raw=1&_subject_uid=61905955&w=AACPEGUb7H4MWHWMGQTKgxuifzj8mzUfoVgouASAWoKcYA&size=2048x1536&size_mode=3">


<div id="sidr">
      <ul>
          <li><a href="#">Home</a> <img alt="close" class="icon-close" src = " <%= image_url('close-white.svg') %> " width="24px"></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
      </ul>
          
</div>
    <br>
    <br>
    <br>
    <br>
    <h1 class="heading"> Create and Share Stories </h1>
  
    <div class="btn">
       <p> Learn More </p>
    </div>

</div>

<br>
<br>
	
  <div class="supportingsec">
    <h2 class="subhline"> Relive and share your adventures </h2>
    <h4 class="subtline"> Stories automatically creates a digital journal filled with only your best photos. </h4>
  </div>


  <div class="secondarysec">
    
  </div>


  <div class="discoversec">
    <h2 class="subhlinedis"> Discover Stories</h2>
    <div class="btnbot">
       <p> Learn More </p>
    </div>
  </div>

  <div class="footer">

  </div>
</body>

</html>
